.LAB_BG {
  background: #e4e4e4 !important;
  color: #333;
  position: sticky !important;
  top: 0;
}
.LPSection {
  background: black;
  padding: 50px 0;
}
.LImg_2021 img {
  width: 100%;
  height: 50%;
  /* display: block; */
}
.LMenu_2021 {
  background: #e8e8e8;
}

.LPRL_2365 {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  margin-top: -14px;
}
.LPRL h4 {
  font-weight: 600;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.LPRL img {
  width: 100%;
  position: relative;
}

.LPRL_Des {
  padding: 15px 0;
  background: #e0e2db;
}
.LPRL_Des p {
  text-align: justify;
}
.LPRL .LPRL_F {
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
}
.LPRL .LPRL_L {
  padding: 4px 12px;
  border-radius: 50px;
  font-weight: 600;
  background: #fff;
  border: 1px solid #ccc;
}

.LPRL ul {
  list-style: none;
}
.LPRL ul {
  list-style: none;
}
.LPRL ul li {
  padding: 6px 12px;
  background: #fff;
  border-radius: 50px;
  margin: 4px 4px;
  display: inline-block;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 15%);
  box-shadow: 0 0 12px rgba(0, 0, 0, 15%);
}
.LPRL .LPRL_Check {
  padding: 0;
  margin-right: 8px;
}

.CampFooter {
  padding: 15px 0;
  background: black;
  color: white;
  text-align: center;
}
.Camp2021 {
  color: #fff;
  text-align: center;
  border-top: 1px solid #fff;
  margin-top: 15px;
  padding-top: 15px;
}
.CampFooter .CampFooterBlock {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.CampFooter .CampFooterBlock .CampFooter_01 {
  display: flex;
  align-items: center;
}
.CampFooter .CampFooterBlock .CampFooter_01 span {
  margin-left: 8px;
}
.campFooterSocialLinks .FaFacebookF,
.campFooterSocialLinks .FaTwitter,
.campFooterSocialLinks .FaLinkedin,
.campFooterSocialLinks .FaYoutube,
.campFooterSocialLinks .FaPinterest,
.campFooterSocialLinks .FaInstagram {
  background: #fff;
  color: #414d21;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 5px;
  margin: 5px 5px;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
}
.campFooterSocialLinks .FaFacebookF:hover,
.campFooterSocialLinks .FaTwitter:hover,
.campFooterSocialLinks .FaLinkedin:hover,
.campFooterSocialLinks .FaYoutube:hover,
.campFooterSocialLinks .FaPinterest:hover,
.campFooterSocialLinks .FaInstagram:hover {
  color: #c91f42;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.btn_camp {
  border: 0;
  padding: 8px 12px;
  background: #c91f42;
  color: #fff;
}
/* .formControl01 {
  font-family: "lato", sans-serif;
  margin-bottom: 2px;
  display: block;
  width: 100%;
  padding: 1rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #9f9f9f;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
} */
@media screen and (min-width: 150px) and (max-width: 480px) {
  .CampFooter .CampFooterBlock {
    display: inline-block;
    text-align: center;
  }
  .CampFooter .CampFooterBlock .CampFooter_01 {
    margin-bottom: 15px;
  }
  .Camp2021 {
    margin-top: 0;
  }
  .LPRL ul li {
    margin: 8px 2px;
    display: table;
  }
}
