.bgcolor{
 background: black;
}
.Banner2020 {
  display: block;
}
.Banner2020 img {
  width: 100%;
}
.hide {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 200px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.hide1 {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 200px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.hide12020 {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 200px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 75%;
}
.dopSection_bg {
  padding: 25px 0;
  background: black;
}
.dopSection {
  padding: 25px 0;
  background: black;
}
.dopSection h2 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #343a40;
}
.dopSection h3 {
  font-size: 16px;
  padding-bottom: 12px;
  color: #c91f42;
}
.dopSection h4 {
  font-size: 14px;
  padding-bottom: 12px;
  font-weight: 500;
}

.dopSection .dopDescription {
  color: rgba(0, 0, 0, 0.54);
}
.dopBlock_btn {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  align-items: center;
  justify-content: flex-end;
}
.dopBlock_btn03 {
  width:50%;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  align-items: center;
  justify-content: flex-end;
}
.dopBlock_btn02 {
  display: flex;
  position: absolute;
  bottom: 4;
  right: 0;
  z-index: 10;
  align-items: center;
  padding-top: 10px;
  justify-content: flex-end;
}

.dopBlock_btn02 .btn_dop {
  display: inline-block;
  border: 0;
  background: #333333ad;
  font-size: 10px;
  color: #fff;
  padding: 5px 6px;
  margin-top: -40px;
  cursor: pointer;
  border-radius: 0 0 0 4px;
}
.dopBlock_btn .btn_dop {
  display: inline-block;
  border: 0;
  background: #333333ad;
  color: #fff;
  padding: 12px 12px;
  cursor: pointer;
  border-radius: 0 0 0 4px;
}
.dopBlock_btn03 .btn_dop {
  display: inline-block;
  border: 0;
  background: #c91f42;
  color: #fff;
  padding: 7px 12px;
  cursor: pointer;
  border-radius: 0 0 0 4px;
}
.dopInfo {
  background: #fff;
  margin: -100px 25px 0 25px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border-radius: 4px;
  padding: 12px;
  position: relative;
}
.dopInfo .dopInfo1 {
  display: flex;
  align-items: center;
}
.dopInfo .dopInfo1 span {
  font-size: 14px;
  font-weight: 600;
  color: #c91f42;
  margin-left: 12px;
}
.dopInfo .dopInfo2 {
  display: flex;
  align-items: center;
  margin-top: 6px;
}
.dopInfo .dopInfo2 span {
  font-size: 12px;
  margin-left: 12px;
}
.dopInfo .dopInfo3 {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.dopInfo .dopInfo4 span {
  font-size: 14px;
  font-weight: 600;
  color: #c91f42;
}
.dopInfo .dopInfo4 .dopInfo5 {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.dopInfo .dopInfo6 {
  display: block;
  margin: 15px 0;
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
  font-family: "lato", sans-serif;
}
.dopInfo .dopInfo6 h4 {
  font-size: 14px;
  font-weight: 600;
  color: #c91f42;
}
.dopInfo7 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dopInfo7 .btn_dop {
  display: inline-block;
  border: 0;
  background: #c91f42;
  color: #fff;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}
.dopInfo_9 {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.dopInfo7 .dopInfo8 {
  font-weight: 600;
  text-transform: uppercase;
}
.dopInfo9 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 0;
  font-weight: 600;
}
.dopInfo9 .dopInfo10 {
  margin-right: 18px;
}
.dopInfo9 .dopInfo11 {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.dopInfo9 .dopInfo11 span {
  margin-left: 8px;
}
.dopInfo9 .dopInfo12 {
  margin-right: 18px;
}
.dopInfo13 {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.dopInfo14 {
  background: #f7f7f7;
}
.dopInfo16 p {
  font-size: 14px;
  padding-bottom: 5px;
  font-weight: 600;
}
.dopInfo015 img {
  height: auto;
  width: 100%;
}
.dopInfo016 {
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 10));
  width: 100%;
  padding: 8px 12px;
  animation-delay: 0.8s;
  bottom: 0;
  left: 0;
  color: #fff;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
}
.dopInfo016 h4 {
  font-size: 14px;
  font-weight: 500;
}

.dopInfoDiscounts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*   font-weight: 600;
  color: #c91f42;
  font-size: 12px;
  margin-bottom: 12px; */
}
.dopInfo18 {
  font-weight: 600;
  color: #c91f42;
  font-size: 12px;
  margin-right: 15px;
}
.dopInfo18 span {
  font-weight: 600;
  padding-right: 12px;
  color: #343a40;
  font-size: 14px;
}
.dopInfo20 {
  padding: 8px;
}
.dopInfo20 h4 {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 12px;
  margin-bottom: 12px;
}
.dopInfo21 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 12px;
}
.dopInfo22 {
  font-size: 9px;
}
.dopInfo23 {
  border-bottom: 2px dotted #e4e4e4;
  border-top: 2px dotted #e4e4e4;
  padding: 12px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 600;
}
.dopInfo24 {
  color: green;
  font-weight: 500;
  font-size: 11px;
  margin-top: 12px;
}
.dopInfoImage img {
  width: 100%;
  height: 300px;
}
.dopInfo17 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.btn_dop01 {
  display: inline-block;
  border: 0;
  color: #fff;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  background: #c91f42;
  margin-right: 8px;
  font-size: 12px;
}
.btn_dop02 {
  display: inline-block;
  border: 0;
  color: #fff;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  background: #414d21;
  font-size: 12px;
}
.doplocation {
  display: flex;
  align-items: flex-start;
  margin: 15px 0;
  padding: 15px 0;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}
.doplocation span {
  display: inline-block;
  font-size: 14px;
  margin-left: 12px;
}
.btn_details {
  border: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #c91f42;
  color: #fff;
  padding: 8px 12px;
  cursor: pointer;
}
.dopInfo_btn03 {
  border: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #c91f42;
  color: #fff;
  padding: 4px 8px;
  cursor: pointer;
}
.dopInfo162020 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: 0 0px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.175);
  border-radius: 4px;
  padding: 10px 22px;
}
.dopInfo172020 {
  margin-top: 12px;
}
.dopInfo182020 {
  margin-top: 12px;
}
.dopInfo182020 span {
  color: #c91f42;
  font-weight: 600;
}
.dopInfo12020 {
  color: #c91f42;
  margin-top: 12px;
}
@media only screen and (min-width: 150px) and (max-width: 480px) {
  .dopInfo {
    background: #fff;
    margin: -100px 10px 0 10px;
  }
  .dopInfo162020 {
    display: block;
  }
  .btn_dop01 {
    padding: 8px 12px;
    width: none;
  }
  .btn_dop02 {
    padding: 8px 12px;
    width: auto;
  }
  .dopInfo9 {
    display: block;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .dopInfo162020 {
    display: block;
  }
  .dopInfo17 {
    margin-top: 12px
  }
    .btn_dop01 {
    padding: 8px 12px;
    width: none;
  }
  .btn_dop02 {
    padding: 8px 12px;
    width: auto;
  }
}
.breadcrumbs012020 {
  border-bottom: 1px solid #e4e4e4;
  padding: 8px;
  margin-bottom: 15px;
}
.LAB_BG {
  background: black !important;
  color: #e4e4e4;
  position: sticky !important;
  top: 0;
}


.CampFooter {
  padding: 15px 0;
  background: black;
  color: #fff;
  text-align: center;
}
.Camp2021 {
  color: #fff;
  text-align: center;
  border-top: 1px solid #fff;
  margin-top: 15px;
  padding-top: 15px;
}
.CampFooter .CampFooterBlock {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.CampFooter .CampFooterBlock .CampFooter_01 {
  display: flex;
  align-items: center;
}
.CampFooter .CampFooterBlock .CampFooter_01 span {
  margin-left: 8px;
}
.campFooterSocialLinks .FaFacebookF,
.campFooterSocialLinks .FaTwitter,
.campFooterSocialLinks .FaLinkedin,
.campFooterSocialLinks .FaYoutube,
.campFooterSocialLinks .FaPinterest,
.campFooterSocialLinks .FaInstagram {
  background: #fff;
  color: #414d21;
  width: 25px;
  height: 25px;
  line-height: 25px;
  padding: 5px;
  margin: 5px 5px;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
}
.campFooterSocialLinks .FaFacebookF:hover,
.campFooterSocialLinks .FaTwitter:hover,
.campFooterSocialLinks .FaLinkedin:hover,
.campFooterSocialLinks .FaYoutube:hover,
.campFooterSocialLinks .FaPinterest:hover,
.campFooterSocialLinks .FaInstagram:hover {
  color: #c91f42;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.btn_camp {
  border: 0;
  padding: 8px 12px;
  background: black;
  color: #fff;
}
/* .formControl01 {
  font-family: "lato", sans-serif;
  margin-bottom: 2px;
  display: block;
  width: 100%;
  padding: 1rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #9f9f9f;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
} */
@media screen and (min-width: 150px) and (max-width: 480px) {
  .CampFooter .CampFooterBlock {
    display: inline-block;
    text-align: center;
  }
  .CampFooter .CampFooterBlock .CampFooter_01 {
    margin-bottom: 15px;
  }
  .Camp2021 {
    margin-top: 0;
  }
  .LPRL ul li {
    margin: 8px 2px;
    display: table;
  }
}
.lLogo_2021{
   height: 70px;
    width: 170px;
    padding-left: 20px;
    object-fit: cover;

}

@media (max-width: 608px) {
     .imgHideMob {
            display:none;
   }
 }
.btn-header{
  right:0  !important;
}




@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-moz-selection {
  color: #fff;
  text-shadow: none;
  background-color: #c91f42;
}

::selection {
  color: #fff;
  text-shadow: none;
  background-color: #c91f42;
}

html,
body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #343a40;
  padding: 0;
  margin: 0;
}

/*Animations*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.headerMenuIcons {
  margin-right: 5px;
  color: #c91f42;
  width: 0.7em;
  height: 0.7em;
}

h2 {
  font-size: 24px;
  color: #414d21;
}
a {
  text-decoration: none;
  color: #343a40;
}
.inner_ttls h2 {
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  margin-bottom: 24px;
  padding-bottom: 15px;
}

.inner_ttls span {
  color: #c91f42;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.App001 {
  text-align: center;
  margin-top: 80px;
  display: block;
}

.headerArrows {
  display: flex;
  justify-content: flex-end;
  padding: 0 15px 15px 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

#aboutPage,
#eventsList,
#eventsHeadingBg,
#contactUs,
#quote,
#faqsSection,
#VendorProfile,
#ppdtc {
  margin-top: 0;
}

/*--------------------------------------------------------------
# Capabilities
--------------------------------------------------------------*/
.capabilities {
  background: #9f9f9f;
  padding: 75px 0;
}

.capt-block {
  padding-bottom: 25px;
}
.capabilities h2 {
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
}

.capabilities span {
  color: #c91f42;
}

.capabilities p {
  font-style: normal;
  text-align: center;
  color: #333;
}

.capabilities .service-item {
  text-align: center;
}

.capabilities .service-block-bg {
  background: #ffffff;
  padding: 25px 18px 50px 18px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
  margin-bottom: 15px;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.capabilities .service-block-bg:hover {
  background: #c91f42;
  border-radius: 10px;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.capabilities .service-block-bg h2 {
  font-style: normal;
  color: #414d21;
  text-transform: uppercase;
  font-weight: 800;
  padding: 18px 8px;
}
.capabilities .service-block-bg span {
  color: #c91f42;
}

.capabilities .service-block-bg:hover span {
  color: #ffffff;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.capabilities .service-block-bg:hover h2 {
  color: #000000;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.capabilities .service-block-bg p {
  color: #666666;
  padding: 0 16px 16px;
}

.capabilities .service-block-bg:hover p {
  color: #ffffff;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.capabilities .service-block-bg:hover .btn-capabilities {
  background: #fff;
  border-color: #fff;
  color: #c91f42;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.img-circle {
  border-radius: 50%;
}

.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.428571;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.capt-button {
  background: #c91f42;
  border-radius: 4px;
  padding: 12px 16px;
  text-align: center;
  color: #fff;
  border: none;
  transition: 1s;
  margin: 10px;
  line-height: 1.42857143;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: 700;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.service-block-bg:hover .capt-button {
  background: #fff;
  border-radius: 0px;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  text-decoration: none;
  color: #c91f42;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about {
  background-color: #fff;
  padding: 75px 0px;
}

#about .box {
  text-align: center;
  margin-bottom: 25px;
}

#about img {
  display: block;
  padding-bottom: 8px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.about-block {
  margin-bottom: 15px;
  display: block;
}

#about .concept-video {
  text-align: center;
  position: relative;
}

#about .concept-video .video {
  width: 100%;
  display: inline-block;
  padding: 0 15px;
}
#about p {
  padding-bottom: 16px;
}
#about h2 {
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  font-weight: 800;
}

#about h2 span {
  color: #c91f42;
}

#about p {
  font-style: normal;
  text-align: justify;
}
#homeLeftBlock {
  display: block;
  width: 100%;
}
@media only screen and (min-width: 150px) and (max-width: 480px) {
  #homeLeftBlock {
    display: block;
    width: 100%;
  }
  .homeLeftBlockAdds {
    width: 100%;
    display: block;
    height: 200px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #homeLeftBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .homeLeftBlockAdds {
    width: 28%;
    height: 200px;
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #9f9f9f;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
}
/* input,
textarea {
  margin-bottom: 16px;
  display: block;
  width: 100%;
  padding: 0.75rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #9f9f9f;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
} */
.formControl {
  font-family: "lato", sans-serif;
  margin-bottom: 2px;
  display: block;
  width: 100%;
  padding: 1rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #9f9f9f;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
}
.formControl01 {
  font-family: "lato", sans-serif;
  margin-bottom: 2px;
  display: block;
  width: 100%;
  padding: 1rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #9f9f9f;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
}

.formControl002 {
  display: block;
  width: 100%;
  padding: 0.6rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #9f9f9f;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
}


.formControlHome {
  font-family: "lato", sans-serif;
  margin-bottom: 2px;
  display: block;
  width: 100%;
  padding: 0.75rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #9f9f9f;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
}
.formControlCommon {
  font-family: "lato", sans-serif;
  margin-bottom: 16px;
  display: block;
  width: 100%;
  padding: 1rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #9f9f9f;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
}
.home_search_block_bg {
  background-color: #3a3a3a;
  padding-top: 8px;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  /* transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
  border: none;
  transition: 1s;
  line-height: 1.42857143;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
}
.btn-common {
  background: #c91f42;
  color: #fff;
  border-color: #c91f42;
}
.btn-common:hover {
  background: #414d21;
  border-color: #414d21;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.Modal-module_overlay__21YAk {
  position: fixed;
  display: block;
  z-index: var(--st-overlay-z-index);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--st-overlay-color);
  opacity: 1;
  transition: var(--st-overlay-transition);
  perspective: var(--st-overlay-perspective);
}
:root {
  --st-overlay-color: rgba(0, 0, 0, 0.4);
  --st-overlay-z-index: 10300;
}
.btn_home_search {
  margin-bottom: 16px;
  display: block;
  width: 100%;
  padding: 0.75rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  background-color: #c91f42;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
}
.btn_home_search:hover {
  background: #414d21;
  transition: all 0.3s ease;
}
.btn-modal01 {
  background: #414d21;
  color: #fff;
  border-color: #414d21;
  display: block;
}
.btn-modal01:hover {
  background: #c91f42;
  border-color: #c91f42;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-capabilities {
  background: #c91f42;
  color: #fff;
  border-color: #c91f42;
}
.btn-capabilities:hover {
  background: #fff;
  border-color: #fff;
  color: #c91f42;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-enquiry {
  background: #414d21;
  border-color: #414d21;
  color: #fff;
  margin: 0 8px;
}
.btn-enquiry:hover {
  background: #c91f42;
  border-color: #c91f42;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-close {
  background: none;
  color: #c91f42;
  font-weight: bold;
  border: 1px solid #c91f42;
}
.btn-close:hover {
  border: 1px solid #414d21;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #414d21;
  /*  transform: translateY(-3px);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3); */
}

.btn-join {
  background: none;
  color: #fff;
  border-color: #fff;
  border: 2px solid #ffffff;
  padding: 12px 35px;
  text-transform: uppercase;
}
.btn-join:hover {
  background: #c91f42;
  border-radius: 0px;
  -webkit-transition: all 0.2s;
  transition: all 0.2ss;
  border: 2px solid #c91f42;
  text-decoration: none;
  color: #ffffff;
}

/*--------------------------------------------------------------
# What we do
--------------------------------------------------------------*/

#en-block1 {
  padding: 50px 0;
  background: #ffffff;
}

.en-box {
  position: relative;
  margin-bottom: 16px;
}

.en-box1 {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}

#en-block1 h2 {
  text-align: center;
}

#en-block1 p {
  text-align: center;
  padding: 0px 50px 18px 50px;
}

#en-block1 h2 {
  font-style: normal;
  text-transform: uppercase;
  font-weight: 800;
}

#en-block1 h2 span {
  color: #c91f42;
}

.en-block2 {
  padding: 150px 0 100px;
  background: #eaeaea;
}

.en-block2 h2 span {
  color: #c91f42;
}

.en-block2 h2 {
  text-align: center;
}

.en-block2 p {
  text-align: justify;
}

.en-block2 h2 {
  font-style: normal;
  text-transform: uppercase;
  font-weight: 800;
}

.en-block2 h2 span {
  color: #c91f42;
}

.en-block3 {
  padding: 150px 0 100px;
  background: #ffffff;
}

.en-block3 h2 span {
  color: #c91f42;
}

.en-block3 h2 {
  text-align: center;
}

.en-block3 p {
  text-align: justify;
}

.en-block3 h2 {
  font-style: normal;
  text-transform: uppercase;
  font-weight: 800;
}

#en-block2 h2 span {
  color: #c91f42;
}

#en-block1 img {
  display: block;
  padding-bottom: 25px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 150px) and (max-width: 480px) {
  .en-block2 {
    padding: 75px 0 50px;
    background: #eaeaea;
  }

  .en-block3 {
    padding: 75px 0 50px;
    background: #ffffff;
  }

  #en-block1 p {
    text-align: center;
    padding: 8px 12px;
  }
}

@media only screen and (min-width: 768px) {
  .en-block2 {
    padding: 75px 0 50px;
    background: #eaeaea;
  }

  .en-block3 {
    padding: 75px 0 50px;
    background: #ffffff;
  }
}

@media only screen and (min-width: 1200px) {
  .en-block2 {
    padding: 75px 0 50px;
    background: #eaeaea;
  }

  .en-block3 {
    padding: 75px 0 50px;
    background: #ffffff;
  }
}

.em-button {
  background: #c91f42;
  border-radius: 4px;
  padding: 12px 16px;
  text-align: center;
  color: #fff;
  border: none;
  transition: 1s;
  margin: 25px 10px 10px;
  line-height: 1.42857143;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: 700;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.em-button:hover {
  background: #414d21;
  border-radius: 0px;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Vision, Mission and Values
--------------------------------------------------------------*/

#vmv {
  padding: 75px 0;
  background: #e2e2e2;
}

#vmv .vmv-box {
  display: block;
  margin-bottom: 75px;
}

#vmv .vmv-box1 {
  display: block;
  margin-bottom: 16px;
}
#vmv .vmv-box1 p {
  margin-bottom: 16px;
}
#vmv h2 {
  font-style: normal;
  text-transform: uppercase;
  font-weight: 800;
}

#vmv p {
  text-align: justify;
}

#vmv h2 span {
  color: #c91f42;
}

#vmv img {
  display: block;
  padding-bottom: 25px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 150px) and (max-width: 480px) {
  #vmv h2 {
    text-align: center;
  }

  #vmv .vmv-box {
    display: block;
    margin-bottom: 50px;
  }
}

/*--------------------------------------------------------------
# Join us today
--------------------------------------------------------------*/

#join .quote-block {
  /* background-image: url("../../../src/assets/03.jpg"); */
  background-repeat: no-repeat;
  height: auto;
}

#join .dark-overlay {
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  text-align: left;
  position: relative;
  padding: 75px 0;
  text-transform: uppercase;
}

#join h2 {
  font-style: normal;
  color: #ffffff;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 18px;
}

#join p {
  font-style: normal;
  color: #ffffff;
  text-align: center;
}

.join-block {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
@media only screen and (min-width: 150px) and (max-width: 480px) {
  #join h2 {
    font-style: normal;
    color: #ffffff;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 18px;
  }
}
/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
#our-team .quote-block {
  /* background: url("../../../src/assets/team.jpg"); */
  background-repeat: no-repeat;
  height: auto;
}

#our-team .dark-overlay {
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  text-align: left;
  position: relative;
  padding: 75px 0;
}
#our-team .section-title {
  padding-bottom: 24px;
}
#our-team h2 {
  font-style: normal;
  color: #ffffff;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

#our-team p {
  font-style: normal;
  color: #cccccc;
  font-weight: 400;
  text-align: justify;
  padding-bottom: 16px;
}

.our-team-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#quote0123 .quote-block {
  /* background: url("../../../src/assets/banner.jpg"); */
  background-repeat: no-repeat;
  height: auto;
}

#quote0123 .dark-overlay {
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  position: relative;
  padding: 50px 0;
  text-transform: uppercase;
}

#quote0123 h2 {
  font-size: 40px;
  font-weight: 900;
  color: #ffffff;
}

@media only screen and (min-width: 150px) and (max-width: 480px) {
  #quote0123 h2 {
    font-size: 22px;
    font-weight: 900;
  }
}

.FaFacebookF,
.FaTwitter,
.FaLinkedin,
.FaYoutube,
.FaPinterest,
.FaInstagram {
  background: none;
  color: #fff;
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 5px;
  margin: 5px 5px;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
}
.FaFacebookF:hover,
.FaTwitter:hover,
.FaLinkedin:hover,
.FaYoutube:hover,
.FaPinterest:hover,
.FaInstagram:hover {
  background: #c91f42;
  color: #ffffff;
  border: 1px solid #e42e52;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.scrollup {
  position: fixed;
  width: 48px;
  height: 48px;
  line-height: 48px;
  bottom: 40px;
  right: 20px;
  text-align: center;
  background: #c91f42;
  border-radius: 5px;
  color: #fff;
}

.error{
  color: white;
}

.appDownload {
  background-color: #c91f42; /* For browsers that do not support gradients */
  background-image: linear-gradient(90deg, #fff 50%, #c91f42 50%);
  padding: 24px 15px !important;
}
.appDwn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.appDwn_00 img {
  width: 75%;
  display: block;
  text-align: center;
}
.appDwn .appDwnRight {
  margin-left: 30px;
}
.appDwnRight_01 {
  display: block;
  text-align: center;
}
.appDwnRight_01 .appDwnRight_02 {
  color: #fff;
  margin-bottom: 12px;
}
.appDwnRight_01 .appDwnRight_02 h3 {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif !important;
}
.appDwnRight_01 .appDwnRight_02 h4 {
  font-size: 14px;
  font-weight: 400;
  color: #ffff00;
  font-family: "Roboto Condensed", sans-serif !important;
}
.appDwnRight_01 .appDwnRight_03 {
  text-align: center;
  display: block;
  background: #fff;
  padding: 12px 12px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-top: -25px;
}
.appDwnRight_01 .appDwnRight_04 {
  display: inline-grid;
  place-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #fff;
  color: #c91f42;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}
.appDwnRight_01 .appDwnRight_05 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 28px;
  margin-bottom: 8px;
}
.appDwnRight_01 .appDwnRight_05 img {
  margin: 2px 4px;
  width: 100px;
}
.appDwnRight_06 {
  margin: 0 !important;
  padding: 0 !important;
}
.appDwnRight_01 .appDwnRight_07 {
  font-size: 10px;
  color: #ccc;
}
.appDwnRight_08 {
  position: absolute;
  right: 0;
  top: 0;
}
/* .DialogBlock::-webkit-scrollbar {
  display: none;
}
.DialogBlock {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */
@media only screen and (min-width: 150px) and (max-width: 480px) {
  .ADRA ul li {
    display: inline-flex;
    padding: 8px 8px;
    font-size: 12px;
  }
  .appDownload {
    background-color: #c91f42; /* For browsers that do not support gradients */
    background-image: linear-gradient(-180deg, #fff 50%, #c91f42 50%);
  }
  .appDwn .appDwnRight {
    margin-left: 0px;
  }
  .appDwn {
    display: block;
  }
  .appDwn_00 img {
    width: 85%;
    display: inline-block;
    text-align: center;
  }
  .appDwnRight_01 .appDwnRight_02 h3 {
    font-size: 14px;
  }
  .appDwnRight_01 .appDwnRight_02 h4 {
    font-size: 12px;
  }
}

.usename{
  margin-top:20px;
}
@media (max-width: 608px) {
     .usename {
       margin-left:50px !important;

       float:right !important;
            right:0;
   }
   .dopBlock_btnmob{
     display: block;
      position: absolute;
      margin-left: 20px;
          text-align: center;
   }
 }
